/* Colors
/* ------------------------------------------------------
*/


/* Text 
*/
$color-background: white;
$color-background-light: darken($color-background, 5%); 

$color-text: lighten(black, 10%);
$color-text-light: lighten($color-text, 50%); 

/* invert color with background */
@mixin color-text-inverted {
  color: $color-background;
  background: $color-text;
  
  a, a:visited, a:active {
  	color: $color-background;
  	text-decoration: none;
  }
}


/* Highlight 
*/
$color-highlight: lighten(yellow, 10%);
$color-highlight-light: #7F7F3F; /* FF3, Kuler, Mono */

.highlight {
	background: $color-highlight;
	padding: $pad/4;
}


/* Action 
*/
$color-action: #9173FF; /* FF3, Kuler, Compound */

@mixin text-action-1 {
	background: $color-action;
	color: $color-background;
	@include font-highlight;

	a, a:visited, a:hover {
		text-decoration: underline;
	}
}

@mixin text-action {
	background: $color-text;
	color: $color-background;
	@include font-highlight;

	a, a:visited, a:hover {
		text-decoration: underline;
		color: $color-highlight;
	}
}



/* Links
*/

@mixin link {
	color: $color-text;
	border-bottom: 1px dotted;
}
@mixin link-visited {
	color: $color-text-light;
	border-bottom: 1px dotted $color-text-light;
}


@mixin link-neutral {
	color: $color-text;
	text-decoration: none;
}

@mixin link-neutral-inverted {
	color: $color-background;
	text-decoration: none;
}


/* Backgrounds
*/

@mixin background-stripe {
	background: transparent url(stripe.png);
}



/* Lists
/* ------------------------------------------------------
*/


/* Product filters
*/

@mixin list-underlined {
	list-style-type: none;
	
	li {
		padding-bottom: $pad/4;
		margin-bottom: $pad/4;
		border-bottom: 1px dotted;
	}
}





/* Search
/* ------------------------------------------------------
*/


@mixin search {
	input[type='text'] {
		@include col($major, 0, 5%);
	}
}


